.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  }

.header-content {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: left;
  }

.background {
  background-color: #757575;
  background-size: cover;
}  

.position-text {
  margin-left: 20%;
  margin-right: 10%;
}

.all-memes {
  overflow: hidden;
  }

input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

